@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*animation: blink 0.6s infinite alternate;*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background: white;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(29,17,40);
  background-color: linear-gradient(90deg, rgba(29,17,40,1) 0%, rgba(52,26,75,1) 100%);
  font-family: 'Poppins', sans-serif;
}
.Main{
    padding: 10px;
}
main{
  position: relative;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
button{
    background-color: transparent;
    border: solid;
    border-color: white;
    border-radius: 50px;
    animation: blink 2s infinite alternate;   
    padding: 10px;
    box-shadow: 0 0 .1rem rgb(248, 7, 228),
            0 0 .1rem rgb(200, 18, 206),
            0 0 0.5rem #bc13fe,
            0 0 0.3rem #bc13fe,
            0 0 1.7rem #bc13fe,
            inset 0 0 0.5rem #bc13fe; 
}

header{
  position: relative;
  width: 100%;
  display: flex;
  color: white;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

ul, li {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  color: white;
  font-size: 18px;
}
@media (max-width: 800px) {
  ul, li {
    display: none;
  }
}
li:hover{
  font-weight: bolder;
}

h3{
  text-align: center;
  background-color: red;
  width: 200px;
}

.Title{
  position: relative;
  text-align: center;
  width: 100%;
  font-size: large;
}
.Sessions-header{
  text-align: end;
  width: 100%;
}

.Img-developer{
  position: relative;
  width: 400px;
  height: 400px;
  top: 20px;
}
.Container-home{
  position: relative;
  display: flex;
  top: 50px;
}
@media (max-width: 800px) {
  .Container-home {
    display: grid;
  }
}

.Home-img{
  width: 100%;
  position: relative;
  text-align: center;
}
.home-text{
  width: 100%;
  position: relative;
  text-align: start;
  align-self: center;
  color: white;
}

.home-text-effect{
    position: relative;
  color: white; 
  font-family: "Courier";
  font-size: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(60, end);
}

.home-text-effect:nth-child(2){
  animation: type2 8s steps(60, end);
}

@keyframes type{ 
  from { width: 0; }  
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
} 

@keyframes blink{
  to{opacity: .0;}
}

h1:after{
    content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 40px;
    width: 4px;
    animation: blink 0.4s infinite alternate;
 }

.seta-para-baixo{
    position: relative;
    text-align: center;
    width: 100%;
}
@media (max-width: 500px) {
    .seta-para-baixo {
      top: 60px;
    }
  }@media (min-width: 800px) {
    .seta-para-baixo {
      top: 150px;
    }
  }
.seta{
  width: 40px;
  height: 15px;
  animation: blink 0.8s infinite alternate;
}

.Container-sobre-mim{
    position: relative;
    top: 90px;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    border-radius: 50em;
    display: grid;
}
@media (min-width: 800px) {
    .Container-sobre-mim {
      display: flex;
      align-items: center ;
      top: 160px;
      padding: 50px;
    }
  }
.Container-sobre-mim-text{
    width: 100%;
    text-align: center;
    color: white;
}
.Container-sobre-mim-img{
    width: 100%;
    text-align: center;
}
.Img-foto-de-perfil{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 6px;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-color: red;
    transition: 0.3s;
    margin-top: 10%;
    margin-bottom: 10%;
}
.Img-foto-de-perfil:hover{
    border-color:orange;
    transition: 0.3s;
    border-width: 10px;
}